/* ==UserStyle==
@name           Omaha.com Full Width
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Dave Reid
==/UserStyle== */
@-moz-document domain("omaha.com") {
    .inline-asset.subscriber-hide,
    .tncms-region.hidden-print,
    .main-sidebar {
        display: none;
    }

    .main-content {
        width: 100%;
    }
}